<!DOCTYPE html> {% autoescape true %}
<html>

<head>
  <title>Scrapy Dashboard</title>
  <!-- [START css] -->
  <link type="text/css" rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
  <!-- [END css] -->
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Sentiment Crawler</a>
      <a class="navbar-brand" href="/gcs">Search buckets</a>
      <a class="navbar-brand" href="/natural">Analyze Sentiment</a>
    </div>
  </nav>

  <div class="container inputs">
    <form action="/rss" method="post">
      <div class="button input-group">
        <input type="text" class="form-control" placeholder="Insert url to scrap" name="url">
        <div class="input-group-append">
          <input type="submit" class="btn btn-info" value="Start RSS Crawler">
        </div>
      </div>
    </form>

    <form action="/atom" method="post">
      <div class="button input-group">
        <input type="text" class="form-control" placeholder="Insert url to scrap" name="url">
        <div class="input-group-append">
          <input type="submit" class="btn btn-info" value="Start Atom Crawler">
        </div>
      </div>
    </form>
  </div>

  <div class="container inputs">
    <form action="/web" method="post">
      <div class="button input-group">
        <input type="text" class="form-control" placeholder="Insert url to scrap" name="url">
        <div class="input-group-append">
          <input type="submit" class="btn btn-info" value="Start Web Crawler">
        </div>
      </div>
    </form>

    <form action="/twitter" method="post">
      <div class="button input-group">
        <input type="text" class="form-control" placeholder="Insert account to search" name="term">
        <div class="input-group-append">
          <input type="submit" class="btn btn-info" value="Search for Tweets">
        </div>
      </div>
    </form>
  </div>


  {% if content is defined %}
  <div class="container feed">
    {% for item in content %}
    <hr>
    <p>TITLE -> {{item['title']}}</p>
    <p>LINK -> {{item['link']}}</p>
    <p>DATE -> {{item['date']}}</p>
    <p>DESCRIPTION -> {{item['description']}}</p>
    {% endfor %}
  </div>
  {% endif %}

  </br>

  {% if info is defined %}
  <div class="container feed">
    {% for item in info %}
    <hr>
    <p>TEXT -> {{item['text']}}</p>
    {% endfor %}
  </div>
  {% endif %}

</body>

</html>
{% endautoescape %}