body {
  background-color: #f5f5f5;
}

.feed {
  margin-left: 0 auto
}

.button {
  margin: 20px auto;
  min-width: 380px;
  max-width: 380px;
}

.btn {
  min-width: 160px;
}

.inputs {
  display: flex;
  justify-content: space-between
}